a {
	text-decoration: none;
	color: #000;
}
html {
  scroll-behavior: smooth;
}
.container h2 {
    font-size: 30px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
#bem-vindo .container h3 {
    font-size: 15px;
    padding: 20px 0;
    color: #808080;
}
body {
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	background-color: whitesmoke;
}
.banner-slide .slick-prev {
    left: 10px;
    z-index: 999;
}
.banner-slide .slick-next {
    right: 10px;
    z-index: 999;
}
header .container {
	height: 70px;
}
header .container nav ul li a.active {
    border-bottom: 2px solid #68c5db;
}
div.header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    border-bottom: 1px solid #00bad3;
    z-index: 9999;
}
.banners-principais {
    padding-top: 70px;
}
.logo img, .logo {
	width: 200px;
    height: auto;
    flex: 1;
    line-height: 80px;
}
.logo img {
    margin-left: 30px;
}
header nav {
	flex: 1;
}
header .container, header .container nav ul {
    display: flex;
}
header .container nav ul li {
    margin: 10px;
    padding: 10px;
    line-height: 30px;
    font-size: 14px;
    flex: 1;
    justify-content: space-around;
}
.banner-slide img{
	width: 100%;
	max-width: 1380px;
	max-height: 320px;
	background-color: #76cade;
}
#bem-vindo {
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    padding: 40px 0;
}
.button {
    width: 255px;
    height: 45px;
    line-height: 45px;
    border-radius: 20px;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.button:hover {
	opacity: 0.8;
}
.button.yellow {
	background-color: #fbc018;
	color: #000;
	float: left;
	margin-left: 70px;
}
.button.blue {
    float: right;
    background-color: #6ac6dc;
    color: #000;
    margin-right: 70px;
}
#servicos {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background-color: #eee;
    margin-top: 50px;
    padding: 30px 0;
    background-image: url("../images/parallax.png");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
#servicos .container h2 {
	border-color: #b7b7b7;
}
#servicos .all-blocos {
    text-align: center;
}
#servicos .bloco {
    width: 550px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
}
#servicos .bloco img {
    flex: 1;
    width: 116px;
    float: left;
    margin-top: 35px;
    margin-left: 25px;
}
#servicos .bloco .text-block {
    float: right;
    width: 350px;
    text-align: left;
    padding: 25px;
}
#servicos .text-block h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    font-weight: 600;
}
#empresa {
    padding-top: 30px;
    padding-bottom: 30px;
}
#empresa .company-text {
	width: 80%;
	padding: 20px 0;
	text-align: left;
	margin: 0 auto;
}
section#clientes-e-parceiros {
    padding: 20px 0;
    background-color: #fff;
}
.clientes img {
	max-height: 80px;
	max-width: 200px;
	display: inline-block;
	vertical-align: top;
}
.clientes {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}
.clientes .slick-prev {
    left: -30px;
    top: 70px;
    z-index: 999;
    filter: invert(1);
}
.clientes .slick-next {
    right: : -30px;
    top: 70px;
    z-index: 999;
    filter: invert(1);
}
.slick-prev:before, .slick-next:before {
	opacity: 1;
}
#clientes-e-parceiros h2:last-of-type {
	padding-top: 25px;
}
#clientes-e-parceiros .parceiros {
	width: 80%;
	text-align: center;
	padding: 20px 0;
	margin: 0 auto;
}
#clientes-e-parceiros .parceiros a img {
	display: inline-block;
	max-width: 250px;
	max-height: 250px;
	margin: 20px;
	vertical-align: middle;
}
#contato h2 {
	padding-top: 20px;
	margin-bottom: 20px;
}
#contato {
	text-align: center;
}
#contato input, #contato textarea {
    border-radius: 5px;
    border: 1px solid #dadada;
    text-indent: 5px;
    resize: none;
    min-width: 99%;
}
#contato form {
	display: flex;
	width: 80%;
	margin: 0 auto;
}
#contato .left-fields {
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#contato .right-fields {
	flex: 1;
	display: flex;
}
#contato .left-fields input {
    flex: 1;
    margin: 5px;
    padding: 10px 0;
}
#contato .right-fields textarea {
	flex: 1;
	margin: 5px;
	padding: 5px 0;
}
#contato span {
    margin-bottom: 20px;
    display: block;
}
button#enviar {
    width: 65px;
    margin: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    border: unset;
    background-color: #fbc016;
    cursor: pointer;
    background-image: url("../images/send.png");
    background-position: center;
    background-repeat: no-repeat;
}
button#enviar:hover {
	opacity: 0.6;
}
body footer {
	margin: 0 auto;
	width: 100%;
	background-color: #6ac6dc;
	margin-top: 60px;
}
footer .container > div {
    display: inline-block;
    overflow: hidden;
}
footer .copyright {
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #fff;
    margin: 20px 0;
}
footer .left-um, footer .left-dois, footer .right-um, footer .right-dois {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin: 2%;
	margin-top: 10px;
}
footer .footer-tit {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    padding: 10px 0;
    margin-bottom: 5px;
    background-color: #fff;
}
.left-dois span:not(.footer-tit) {
    font-size: 14px;
    width: 100%;
    line-height: 30px;
    display: inline-block;
    color: #fff;
    text-align: left;
}
.redes img {
    display: inline-block;
    width: 30px;
    margin: 0 10px;
}
.redes img:hover {
	opacity: 0.6;
}
.right-um .redes {
	text-align: center;
	margin: 2px 0;
}
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
footer .logos {
	margin-top: 35px;
}
.logos img {
    width: 32%;
}