body.blue {
	background-color: blue;
}
body.yellow {
	background-color: yellow;
}
body.green {
	background-color: green;
}
body.grey {
	background-color: grey;
}
body.red {
	background-color: red;
}
body.purple {
	background-color: purple;
}
body {
	transition: background-color 1s ease;
}